---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  ports:
    -
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: nginx
    tier: frontend
  type: LoadBalancer
